
<app-header> </app-header>

  <div class= "main-container">
    <app-sidebar class="sidebar-style"> </app-sidebar>
    <app-dashboard class="app-dashboard"></app-dashboard>

    <div class="ComponetCenter">
      <app-user-management  *ngIf="authService.gestionUser$  | async "  ></app-user-management>
      <app-product *ngIf="authService.productos$ | async " ></app-product>

      <app-reportes *ngIf="authService.reportes$ | async" ></app-reportes>

      <app-ventasOrdenes *ngIf="authService.ventasOrdenes$ | async" ></app-ventasOrdenes>
    </div>
  
  </div>

